<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">    
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <h1><%= session.userName %>, you are now logged in. </h1>
        </div>
        
    </body>
</html>