<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">        
    </head>
    <body style="background-color:  #FFFACD !important;">
        <% include partials/navbar.ejs %>
        
        <div class="container">
            <img src="/images/friends.jpg" style="height: 500px; width: 1100px">
            <h3 align="center">If you are a member than please <a href="/login">login</a> or <a href="/signup">sign up </a>here!</h3>
        </div>
        
    </body>
</html>