<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">    
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <h1><%= user %>,you have been registered successfully, please proceed to the <a href="/login">Login</a>page</h1>
        </div>
        
    </body>
</html>